docker {
    enabled = true
}

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
}

timeline {
    enabled = true
    file = 'timeline.html'
    overwrite = true
}

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'dag.html'
    overwrite = true
}
